<div class="row" *ngIf="recipeDetail">
  <div class="col-xs-12">
    <img src="{{recipeDetail.imagePath}}" alt="{{recipeDetail.name}}" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{recipeDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown *ngIf="isAuthenticated()">
      <button type="button"
       class="btn btn-primary dropdown-toggle">
       Gérer une recette<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click) = "addToSL(recipeDetail.ingredients)" style="cursor: pointer;">Ajouter aux courses</a></li>
        <li><a style="cursor: pointer;" [routerLink] = "['edit']">Modifier la recette</a></li>
        <li><a style="cursor: pointer;" (click)="onDelete()">Supprimer la recette</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{recipeDetail.description}}
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li class="list-group-item"
        *ngFor="let ingredient of recipeDetail.ingredients">
        {{ingredient.name}}: {{ingredient.amount}}
        </li>
      </ul>
    </div>
  </div>